# Global

color_bg=0A3C01
color_text=ffffff
color_label=ffffff
color_popup=ffffff
color_shelf=ffffff25

selected_text_color=000000
button_label_color=ffffff

pill_color=ffffffdd
pill_border_color=ffffff

button_color=00000075
button_border_color=ffffff95

popup_color=000000
popup_border_color=FFFFFF25