theme_name=XMB Menu
creator=Ant

# Main Menu

main_menu_view=gallery
main_menu_names=on
main_menu_logos=on
main_menu_fit=native

# Game List

gamelist_view=list

# Global

color_bg=111111
color_text=ffffff
color_label=aaaaaa
color_popup=222222
color_shelf=333333
accent=444444

pill_style=soft
button_style=rounded
boxart_radius=soft
popup_style=soft

pill_color=444444/44444495
pill_border_color=DDDDDD95
pill_border_width=1

button_color=444444/44444495
button_border_color=DDDDDD95
button_border_width=1

popup_color=222222EE
popup_border_color=FFFFFF45