theme_name=XMB Menu
creator=Ant

# Main Menu (home screen)
main_menu_view=gallery
main_menu_names=on
main_menu_logos=on
main_menu_fit=native
main_menu_overlap=230
main_menu_num_side=2

# Game List (inside systems, collections, favorites)
gamelist_view=list

# Global
font=FOT-NewRodin-Pro-L
accent=444444
color_bg=111111
color_text=ffffff
color_label=aaaaaa
color_popup=222222
selection=pill
selected_text=white
square_pills=off
boxart_radius=4